.dark-bg{
  background-image: linear-gradient(to right, #222 , #192a56);
}

.btn{
  transition: 0.2s ease-in;
}

.btn-square{
  border-radius: 1px;
}

.btn-outline{
  box-shadow: 0 0 0 0.2rem rgb(222 170 12 / 50%);
}

.sort{
  text-transform: uppercase;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .w-50{
    width: 100% !important;
  }
}